body{
font-family:Arial;
background:#f2f5ff;
margin:0;
}

.container{
width:80%;
margin:auto;
padding:20px;
}

input,button,select{
padding:10px;
margin:5px;
width:100%;
}

.nav{
background:#0a1b3d;
padding:15px;
color:#fff;
}